{{> header }}

<section>
  <h1 class="post-title">{{ doc.title }}</h1>

  <article class="full-post-body">
    {{> body-content }}
  </article>
  <div class="post-footer">
    <span class="post-date">{{ doc.date }}</span>
  </div>
</section>

{{> footer }}